In [1]:
import pandas as pd
import seaborn as sns
import folium
from folium.plugins import TimeSliderChoropleth

try:
    import geopandas as gpd
except ModuleNotFoundError: # geopandas는 colab에 설치되어 있지 않기 때문에 따로 설치할 필요가 있습니다.
    !pip3 install geopandas --quiet --progress-bar off
    import geopandas as gpd
    print("geopandas 설치 완료.")

geopandas 설치 완료.

In [2]:
import requests

def 다운로드(파일명, 링크):
    with open(파일명, "wb") as f:
        res = requests.get(링크)
        f.write(res.content)

파일명 = "아파트.xlsx"
다운로드_링크 = "https://github.com/tyjeon24/keri-pythontraining/raw/main/Week%204/4-1/%EC%95%84%ED%8C%8C%ED%8A%B8.xlsx"
다운로드(파일명, 다운로드_링크)

파일명 = "아파트_평균가.xlsx"
다운로드_링크 = "https://github.com/tyjeon24/keri-pythontraining/raw/main/Week%204/4-1/%EC%95%84%ED%8C%8C%ED%8A%B8_%ED%8F%89%EA%B7%A0%EA%B0%80.xlsx"
다운로드(파일명, 다운로드_링크)

파일명 = "아파트_지리데이터.json"
다운로드_링크 = "https://raw.githubusercontent.com/tyjeon24/keri-pythontraining/main/Week%204/4-1/%EC%95%84%ED%8C%8C%ED%8A%B8_%EC%A7%80%EB%A6%AC%EB%8D%B0%EC%9D%B4%ED%84%B0.json"
다운로드(파일명, 다운로드_링크)

In [3]:
# 폰트 설정

%matplotlib inline  

import os

import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf' # 나눔 고딕

if not os.path.exists(path):
    !apt-get update -qq
    !apt-get install fonts-nanum* -qq

font_name = fm.FontProperties(fname=path, size=10).get_name() # 기본 폰트 사이즈 : 10
plt.rc('font', family=font_name)
fm._rebuild()
print(font_name)

# 한글 폰트가 적용이 안 되는 경우 런타임 - 런타임 다시 시작을 눌러 재시작할 것.

Selecting previously unselected package fonts-nanum.
(Reading database ... 155653 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Selecting previously unselected package fonts-nanum-eco.
Preparing to unpack .../fonts-nanum-eco_1.000-6_all.deb ...
Unpacking fonts-nanum-eco (1.000-6) ...
Selecting previously unselected package fonts-nanum-extra.
Preparing to unpack .../fonts-nanum-extra_20170925-1_all.deb ...
Unpacking fonts-nanum-extra (20170925-1) ...
Selecting previously unselected package fonts-nanum-coding.
Preparing to unpack .../fonts-nanum-coding_2.5-1_all.deb ...
Unpacking fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-extra (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Setting up fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-eco (1.000-6) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
NanumGothic

In [4]:
아파트 = pd.read_excel("아파트.xlsx")
아파트["평당가격"] = 아파트["보증금(만원)"] / 아파트["전용면적"]
아파트

,시군구,단지명,전월세구분,전용면적,계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,평당가격
0,가음동,대도,전세,45.0600,201501,19,9000,0,4,1988,대정로,199.733688
1,가음동,대도,월세,45.0600,201504,8,3000,20,5,1988,대정로,66.577896
2,가음동,대도,월세,45.0600,201505,18,5000,20,3,1988,대정로,110.963160
3,가음동,대동빌라,전세,56.9700,201503,16,13000,0,1,1989,가음정로,228.190276
4,가음동,대동빌라,전세,56.9700,201503,23,11000,0,4,1989,가음정로,193.084079
...,...,...,...,...,...,...,...,...,...,...,...,...
20916,천선동,삼성그린빌,전세,83.9416,202003,10,13000,0,11,2000,안민로,154.869576
20917,천선동,서광파크빌,전세,84.8446,202003,7,13000,0,9,2002,안민안길,153.221301
20918,천선동,서광파크빌,전세,84.8446,202003,16,13000,0,9,2002,안민안길,153.221301
20919,천선동,서광파크빌,전세,84.8446,202005,30,14000,0,15,2002,안민안길,165.007555
20920,천선동,조광하우젠,전세,84.9643,202005,16,13000,0,8,2005,안민로,153.005439

# 텀 프로젝트 : 창원 성산구 실거래가 데이터
* 제공 데이터 : 2015-2020년 창원시 성산구 전월세 아파트 실거래가 데이터
* 목표
    * raw 데이터 핸들링
    * 데이터 시각화
    * 시각화한 데이터를 해석하여 유의미한 정보 찾아내기

## 1 데이터 분석을 통해 다음 질문에 답변을 답해보세요.
### 아래의 질문을 답하기 위해 코드를 작성하고, 답을 적어보세요.
1. 데이터는 총 몇 개인가요?
  * 답 : 20921

2. 전세 매물은 총 몇 개인가요?
   * 답 :

3. 성주동의 월세 매물은 총 몇 개인가요?
   * 답 :

4. 어떤 건축년도의 매물이 가장 많나요?
   * 답 :

5. 보증금의 평균은 얼마인가요?
   * 답 :

6. 시군구별 보증금을 swarmplot으로 출력해보세요.
    1. 이 차트를 보고 가음정동, 상남동, 남양동 중 매물이 많은 순서대로 적어 보세요.
    2. 예) 가음정동 > 상남동 > 남양동
    * 답 :

7. 시군구별 건축년도에 따른 평당가격을 scatterplot으로 출력해보세요.
    1. 평당가격이 가장 비싼 데이터가 속한 동은 어디인가요?
        * 답 :
    2. 1번에서 답한 동에서 가장 비싼 데이터가 속한 건축년도는 2000년대 이전인가요, 이후인가요?
        * 답 :

8. 시군구를 기준으로 보증금을 나타낸, 색은 전월세구분으로 구분한 boxplot을 그려보세요.
    1. 전세 데이터에서 1사분위와 3사분위의 차이가 가장 큰, 즉 박스의 넓이가 가장 큰 동은 어디인가요? 
        * 답 :
    2. 월세 데이터에서 1사분위와 3사분위의 차이가 가장 큰, 즉 박스의 넓이가 가장 큰 동은 어디인가요? 
        * 답 :

9. 시군구에 따른 매물을 막대그래프로 그려보세요.
    1. 보증금 평균 가격대가 가장 높은 도로명 주소는 어디인가요?
        * 답 :

10. 다양한 차트를 지금까지 다루었는데, 지금 다루고 있는 시군구 당 가격 데이터를 시각화하는 데 있어 가장 유용한 차트는 어떤 차트라고 생각하나요?
    * 답 :
    1. 왜 그 차트가 이 데이터를 표현하는 데 가장 유용한가요?
        * 답 :
    2. 해당 차트 이외에 이 데이터를 표현할 수 있는 다른 차트는 어떤 게 있나요?
        * 답 :
    3. 다른 차트들을 선택하지 않은 이유는 무엇인가요?
        * 답 :

* 선택 과제(필수 아님) : 2016년~2019년까지의 아파트 거래 평균가 데이터와 읍면동 지리 데이터가 제공됩니다.
이 데이터를 활용해 TimeSliderChoropleth를 그려보세요.
참고 : 3주차-3 미세먼지 데이터와 데이터 형태가 동일합니다.
    1. 기간 내내 높은 가격대를 형성하고 있는 동은 어디인가요?
        * 답 :

In [5]:
# 답변 예시
# 1. 데이터는 총 몇 개인가요?
#   * 답 : 20921

# 이런 식으로, 코드와 답을 함께 제시해주세요.

아파트.describe() # 아파트.describe()를 통해 데이터의 개수가 20921개임을 확인할 수 있습니다.

,전용면적,계약년월,계약일,보증금(만원),월세(만원),층,건축년도,평당가격
count,20921.000000,20921.000000,20921.000000,20921.000000,20921.000000,20921.000000,20921.000000,20921.000000
mean,67.352358,201748.527269,15.903398,14280.575594,9.716744,9.076478,1996.313847,200.647174
std,22.658374,160.109055,8.706764,9656.375888,19.403642,6.089233,9.026679,105.302858
min,30.240000,201501.000000,1.000000,0.000000,0.000000,1.000000,1976.000000,0.000000
25%,49.860000,201607.000000,9.000000,7000.000000,0.000000,4.000000,1990.000000,135.501355
50%,59.970000,201801.000000,16.000000,13000.000000,0.000000,8.000000,1994.000000,210.084034
75%,84.902600,201904.000000,23.000000,20000.000000,10.000000,13.000000,2003.000000,265.797160
max,192.510000,202006.000000,31.000000,55000.000000,350.000000,30.000000,2019.000000,644.058270

In [6]:
# 2. 전세 매물은 총 몇 개인가요?
#    * 답 :

In [7]:
# 3. 성주동의 월세 매물은 총 몇 개인가요?
#    * 답 :

In [8]:
# 4. 어떤 건축년도의 매물이 가장 많나요?
#    * 답 :

In [9]:
# 5. 보증금의 평균은 얼마인가요?
#    * 답 :

In [10]:
# 6. 시군구별 보증금을 swarmplot으로 출력해보세요.
#     1. 이 차트를 보고 가음정동, 상남동, 남양동 중 매물이 많은 순서대로 적어 보세요.
#     2. 예) 가음정동 > 상남동 > 남양동
#     * 답 :

In [11]:
# 7. 시군구별 건축년도에 따른 평당가격을 scatterplot으로 출력해보세요.
#     1. 평당가격이 가장 비싼 데이터가 속한 동은 어디인가요?
#         * 답 :
#     2. 1번에서 답한 동에서 가장 비싼 데이터가 속한 건축년도는 2000년대 이전인가요, 이후인가요?
#         * 답 :

In [12]:
# 8. 시군구를 기준으로 보증금을 나타낸, 색은 전월세구분으로 구분한 boxplot을 그려보세요.
#     1. 전세 데이터에서 1사분위와 3사분위의 차이가 가장 큰, 즉 박스의 넓이가 가장 큰 동은 어디인가요? 
#         * 답 :
#     2. 월세 데이터에서 1사분위와 3사분위의 차이가 가장 큰, 즉 박스의 넓이가 가장 큰 동은 어디인가요? 
#         * 답 :

In [13]:
# 9. 시군구에 따른 매물을 막대그래프로 그려보세요.
#     1. 보증금 평균 가격대가 가장 높은 도로명 주소는 어디인가요?
#         * 답 :

In [14]:
# 10. 다양한 차트를 지금까지 다루었는데, 지금 다루고 있는 시군구 당 가격 데이터를 시각화하는 데 있어 가장 유용한 차트는 어떤 차트라고 생각하나요?
#     * 답 : 모두 정답. stripplot,swarmplot,boxplot,barplot(막대그래프) 중 하나.
#     1. 왜 그 차트가 이 데이터를 표현하는 데 가장 유용한가요?
#         * 답 :
#     2. 해당 차트 이외에 이 데이터를 표현할 수 있는 다른 차트는 어떤 게 있나요?
#         * 답 :
#     3. 다른 차트들을 선택하지 않은 이유는 무엇인가요?
#         * 답 :

In [15]:
지리_데이터 = gpd.read_file('아파트_지리데이터.json', encoding="euc_kr")
아파트_평균가 = pd.read_excel("아파트_평균가.xlsx")

아파트_평균가

,날짜,가음동,가음정동,남산동,남양동,내동,대방동,반림동,반지동,사파동,상남동,성주동,신촌동,안민동,외동,천선동
0,2015-01-01,11063,0,6000,14245,11375,12549,22809,10583,11892,18155,28533,9785,15250,17000,0
1,2015-02-01,6833,0,13000,13091,11500,13820,21938,9642,12075,17880,31000,9400,14666,14000,0
2,2015-03-01,11187,0,6000,14441,15000,12459,22455,11636,11930,15695,30266,8041,14900,13000,0
3,2015-04-01,8400,12500,8000,13822,12466,11614,24290,19500,11794,19162,31800,8700,18166,16066,16500
4,2015-05-01,9714,0,8250,16110,15000,13143,25225,13000,13500,18838,32857,9000,17750,18000,0
5,2015-06-01,8181,0,0,14077,11500,12103,23214,9000,13277,17230,31833,8200,17000,14700,0
6,2015-07-01,8142,0,8500,13780,0,12398,24750,17000,11850,19123,29083,10900,15000,9000,0
7,2015-08-01,8745,11250,9833,13255,7000,12376,25785,8500,12943,18123,31428,8500,17000,9000,0
8,2015-09-01,9550,12000,0,15382,10875,13375,27142,0,14285,17595,30000,11250,20000,0,0
9,2015-10-01,9437,0,0,16258,14125,14310,25264,15166,12444,20481,34461,12912,17230,0,17933
10,2015-11-01,18666,10000,8500,16825,9000,13637,27723,17000,13550,19936,36400,10333,18375,13189,18000
11,2015-12-01,9160,8000,0,16530,16000,12928,28276,12571,13636,21769,35583,9000,16583,13267,16000
12,2016-01-01,8600,0,8000,15236,14000,13576,26964,16250,13287,19950,35062,11060,17428,7500,0
13,2016-02-01,13900,0,7000,16452,19333,14385,25789,9000,13230,20064,32416,14037,16333,0,17000
14,2016-03-01,9950,0,0,15395,8500,13652,24751,11500,14714,18684,33111,12500,18500,13250,18000
15,2016-04-01,8642,11000,13500,14742,12875,13912,26555,9333,12909,17866,34166,10450,14066,11534,18000
16,2016-05-01,15583,0,0,14764,16250,14277,26062,14500,13750,19284,32800,9166,0,19000,18000
17,2016-06-01,9200,0,14000,16112,17000,14872,27500,19000,13000,20342,32000,10750,18750,15333,0
18,2016-07-01,5500,0,0,13833,7666,12937,26266,14333,13300,20159,30392,8333,16000,11333,17000
19,2016-08-01,12000,10000,0,14794,16250,14358,25947,14277,16055,19977,31375,10000,17400,0,0
20,2016-09-01,18562,10000,8000,14933,16500,15366,28625,13666,15147,20629,31818,9500,15500,22000,15800
21,2016-10-01,8720,12750,8000,16658,9625,14348,27534,8660,14365,21266,32777,7833,16500,16166,0
22,2016-11-01,10590,0,8000,14068,0,13697,27166,14000,13531,19905,34181,10500,16500,9250,19000
23,2016-12-01,12187,0,12166,16328,10625,14338,28643,5500,17875,21117,32194,9625,17260,8000,0
24,2017-01-01,15433,0,0,16634,14500,15789,26150,17500,13388,20200,33166,10000,16916,13884,17000
25,2017-02-01,22406,9000,7000,16086,14166,13142,24267,17500,12670,20800,31090,9450,14888,9250,19000
26,2017-03-01,24333,0,11000,16410,0,13700,24700,14928,11964,18564,28071,0,17000,16000,0
27,2017-04-01,21635,0,14000,14973,9000,13096,27187,17500,12944,21196,29400,17000,18500,0,0
28,2017-05-01,22651,0,7000,13527,10000,11210,24108,18100,11500,19273,27512,9216,15583,25000,14000
29,2017-06-01,22042,12000,0,13222,15333,12303,20285,11000,12780,17777,30071,11120,11000,9000,0
30,2017-07-01,20758,10000,0,12291,11000,12123,22171,5500,10687,16455,28357,9800,14833,12800,13000
31,2017-08-01,22359,0,0,11575,11166,13116,19833,13333,10366,15990,26000,13500,14000,0,13750
32,2017-09-01,22410,10000,7500,12964,18000,12689,20414,11500,11453,16921,26833,14000,11500,17500,13000
33,2017-10-01,19225,0,5500,12983,18000,13311,19469,8833,9800,18970,27250,12750,14750,18000,12000
34,2017-11-01,16920,11000,0,13065,13000,11776,20540,8714,11611,17078,25266,10200,11785,14920,0
35,2017-12-01,18525,0,11000,12796,14666,11420,21812,11614,10525,14097,23309,12170,14357,14500,0
36,2018-01-01,19483,8500,0,11482,14166,12296,21112,12730,9743,15408,24950,9611,12850,15000,0
37,2018-02-01,20861,0,6000,12550,0,10881,21187,10187,11191,15463,27200,9314,12428,10750,0
38,2018-03-01,20668,7500,9333,12458,6166,12726,22800,7785,10093,16294,25333,8083,13230,12625,0
39,2018-04-01,19428,6500,19000,12155,0,12048,19716,10691,11854,14676,24850,15900,14150,17000,13000
40,2018-05-01,13408,9000,16000,13008,21500,11426,21533,12000,9416,16712,27000,8500,13437,7750,15000
41,2018-06-01,20975,14000,10083,13023,14500,10768,23034,9350,10738,15628,27750,10333,14000,16333,13000
42,2018-07-01,23566,0,15214,12388,7000,10455,24093,10142,11523,15624,28107,8333,11250,16375,12200
43,2018-08-01,24300,0,16321,12673,14800,10541,24144,7666,10325,18078,26400,6800,13571,8000,12500
44,2018-09-01,21409,0,18866,13143,17250,11266,25016,7783,11294,17417,27944,12250,12666,8000,0
45,2018-10-01,14136,14000,17222,13490,10333,12522,24491,12750,11562,16484,30815,9925,15000,16000,11000
46,2018-11-01,24090,7000,0,14605,8000,12478,25166,10800,12736,19088,30380,13100,13937,0,15000
47,2018-12-01,23944,7500,12000,12517,14142,12947,24733,11000,11475,17611,30571,7100,16000,10500,0
48,2019-01-01,16127,0,6000,12747,12375,10791,25330,11454,10940,17492,27568,9500,13789,16000,0
49,2019-02-01,20300,0,14500,15103,15928,11371,23567,16000,11648,16754,24615,6733,14115,12000,11000
50,2019-03-01,25808,11000,0,13088,14333,12154,20304,12562,11132,18704,26555,8000,14300,10500,14000
51,2019-04-01,23671,0,0,13408,17500,10448,21415,11185,10038,16471,25857,11250,13636,7500,13666
52,2019-05-01,22102,13000,18750,14548,8000,10842,22442,12666,11314,16750,27233,8916,13227,11250,0
53,2019-06-01,23541,7000,6000,11795,13500,10036,21224,10500,11790,15659,23812,11416,14666,15500,13000
54,2019-07-01,26615,12500,4000,14003,11666,11342,22512,7883,11393,15150,24750,9500,15250,16750,0
55,2019-08-01,24860,0,5500,13345,6000,12693,24625,5500,10730,16891,27090,6833,13000,14800,0
56,2019-09-01,26030,0,15700,12673,17000,11326,21775,14666,10285,18030,27500,6125,14000,15000,0
57,2019-10-01,27966,0,17500,13119,11000,12178,22952,7400,10886,18200,24978,9628,11071,15000,0
58,2019-11-01,26930,8750,10166,14447,11000,12140,23633,14625,11209,16779,28500,9818,11500,14812,11000
59,2019-12-01,23876,7500,15166,14753,12600,13124,24840,15142,11700,16917,26631,14250,12500,13000,0

In [16]:
# * 선택 과제(필수 아님) : 2016년~2019년까지의 아파트 거래 평균가 데이터와 읍면동 지리 데이터가 제공됩니다.
# 이 데이터를 활용해 TimeSliderChoropleth를 그려보세요.
# 참고 : 3주차-3 미세먼지 데이터와 데이터 형태가 동일합니다.
#     1. 기간 내내 높은 가격대를 형성하고 있는 동은 어디인가요?
#         * 답 :