In [1]:
import requests

def 다운로드(파일명, 링크):
    with open(파일명, "wb") as f:
        res = requests.get(링크)
        f.write(res.content)

파일명 = "팁.xlsx"
다운로드_링크 = "https://github.com/tyjeon24/keri-pythontraining/raw/main/Week%203/3-1/%ED%8C%81.xlsx"
다운로드(파일명, 다운로드_링크)

In [2]:
!pip3 install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.72-py2.py3-none-any.whl (27 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 674 kB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 51.5 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.28.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.9.1 requests-2.28.1 yfinance-0.1.72

In [3]:
# 폰트 설정

%matplotlib inline  

import os

import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf' # 나눔 고딕

if not os.path.exists(path):
    !apt-get update -qq
    !apt-get install fonts-nanum* -qq

font_name = fm.FontProperties(fname=path, size=10).get_name() # 기본 폰트 사이즈 : 10
plt.rc('font', family=font_name)
fm._rebuild()
print(font_name)

# 한글 폰트가 적용이 안 되는 경우 런타임 - 런타임 다시 시작을 눌러 재시작할 것.

Selecting previously unselected package fonts-nanum.
(Reading database ... 155639 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Selecting previously unselected package fonts-nanum-eco.
Preparing to unpack .../fonts-nanum-eco_1.000-6_all.deb ...
Unpacking fonts-nanum-eco (1.000-6) ...
Selecting previously unselected package fonts-nanum-extra.
Preparing to unpack .../fonts-nanum-extra_20170925-1_all.deb ...
Unpacking fonts-nanum-extra (20170925-1) ...
Selecting previously unselected package fonts-nanum-coding.
Preparing to unpack .../fonts-nanum-coding_2.5-1_all.deb ...
Unpacking fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-extra (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Setting up fonts-nanum-coding (2.5-1) ...
Setting up fonts-nanum-eco (1.000-6) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
NanumGothic

# 1. scatterplot

1. 팁 데이터가 제공됩니다.
2. x축 가격, y축을 팁으로 하는 scatterplot을 그려보세요.

In [4]:
import pandas as pd
import seaborn as sns
pd.options.display.float_format = '{:.2f}'.format # 소숫점 둘째자리까지 표현

### 이 사이에 코드 입력

팁_데이터 = pd.read_excel("팁.xlsx")

팁_데이터

###

       가격    팁 흡연여부    요일     시간대
0   16.99 1.01   No   Sun  Dinner
1   10.34 1.66   No   Sun  Dinner
2   21.01 3.50   No   Sun  Dinner
3   23.68 3.31   No   Sun  Dinner
4   24.59 3.61   No   Sun  Dinner
..    ...  ...  ...   ...     ...
239 29.03 5.92   No   Sat  Dinner
240 27.18 2.00  Yes   Sat  Dinner
241 22.67 2.00  Yes   Sat  Dinner
242 17.82 1.75   No   Sat  Dinner
243 18.78 3.00   No  Thur  Dinner

[244 rows x 5 columns]

# 2. 파라미터 추가하기

1. 흡연여부를 기준으로 색깔을 구분해보세요.
2. 팁 액수를 데이터가 표현되는 크기에 반영해보세요.

In [5]:
### 이 사이에 코드 입력

###

# 3. 그래프 다중 표현

1. 다음 조건을 만족하는 차트를 그려보세요.
2. 색깔 : 흡연여부로 구분
3. 행 : 요일로 구분
4. 열 : 시간대로 구분

In [6]:
### 이 사이에 코드 입력

###

# 4. lineplot

1. 마이크로소프트의 주식 데이터가 제공됩니다.
2. x축을 기간, y축을 가격으로 하는 lineplot을 그려보세요.
3. 색깔 구분을 추가해보세요.

In [7]:
import yfinance as yf

df = yf.download("MSFT", start="2022-01-01", progress=False)
df = df.reset_index()
df = df.drop("Volume", axis=1)
df = df.drop("Adj Close", axis=1)
주식_데이터 = df.melt("Date", var_name = "구분", value_name = "가격")


### 이 사이에 코드 입력

주식_데이터

###

          Date     구분     가격
0   2022-01-03   Open 335.35
1   2022-01-04   Open 334.83
2   2022-01-05   Open 325.86
3   2022-01-06   Open 313.15
4   2022-01-07   Open 314.15
..         ...    ...    ...
511 2022-07-01  Close 259.58
512 2022-07-05  Close 262.85
513 2022-07-06  Close 266.21
514 2022-07-07  Close 268.40
515 2022-07-08  Close 267.66

[516 rows x 3 columns]