In [88]:
# 복습!
# pandas에서 인덱스를 설정하는 방법은?
# 열 데이터를 접근하는 방법은?
# 행 데이터를 접근하는 방법은?
# 합을 구하는 함수?
# 평균을 구하는 함수?

In [89]:
# 오늘 배울 내용

# 1. 패키지 import
# 2. 데이터 읽기, 인덱스 설정
# 3. 데이터 요약 : describe()
# 4. 데이터 정렬
    # 4.1. 특정 열 : sort_values(by="열 이름")
    # 4.2. 인덱스 기준 : sort_index()
# 5. 열 이름 바꾸기 rename(columns={"기존이름":"바꿀이름"})
# 6. 조건 인덱싱
    # 6.1. 숫자 범위로 인덱싱 : 교통량[교통량["2021년 상행"] > 2000]
    # 6.2. 문자로 인덱싱 : str.contains("찾으려는 문자")
# 7. 행, 열 인덱싱 나아가기 : 교통량.loc[1:3, ["A", "B"]]

In [90]:
# 참고 : requests 라이브러리 설명
# 쉽게 말해 '웹 브라우저'의 기능을 프로그래밍으로 구현할 수 있는 도구입니다.
# 웹사이트 접속, 로그인, 파일 다운로드가 가능합니다.

import requests

def 다운로드(파일명, 링크):
    with open(파일명, "wb") as f:
        res = requests.get(링크)
        f.write(res.content)

파일명 = "교통량.xlsx"
다운로드_링크 = "https://github.com/tyjeon24/keri-pythontraining/raw/main/Week%202/2-2/%EC%B0%BD%EC%9B%90%EC%8B%9C%20%EA%B5%90%ED%86%B5%EB%9F%89.xlsx"
다운로드(파일명, 다운로드_링크)

In [91]:
# 1. 패키지 import
import pandas as pd # pandas.py 라는 파이썬 파일을 pd 라고 줄여쓰겠다는 의미입니다.
pd.options.display.float_format = '{:.2f}'.format # 소숫점 둘째자리까지 표현

In [92]:
# 2. 데이터 읽기, 인덱스 설정
# 데이터를 읽고, 인덱스를 설정합니다.

교통량 = pd.read_excel("교통량.xlsx")
교통량 = 교통량.set_index("번호", drop=True)
교통량

       구분             관측지점  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
1     국지도    내서읍 용담리 162-2     13227     15259     13761     12874
2     국지도       의창구 동읍 신방리      6452      7346      7355      6987
3     국지도       북면 내곡 탐앤탐스      3729      4463      3686      3927
4     국지도   북면 신촌리 농기계센터 앞      5745      5672      6856      5785
5     국지도   북면 신촌리 북면운동장 앞      4733      4020      5492      5783
6     지방도          진동면 요장리      3013      2792      1940      2474
7     지방도           진전면 시락       780       765       885       774
8     지방도         성산구 불모산동     46477     45154     42871     36557
9     지방도          진북면 지산리      1807      1557      2039      1765
10    지방도           진전면 양촌       956       962      1041      1036
11   군도2호        대산면 유등로 5       802       783       682       898
12   군도4호    대산면 봉강가술로 583      1180       877       908      1209
13   군도6호     동읍 다호리 65-22      3042      3007      2817      2562
14   군도8호     북면 감계리 189-2      1602      2168      1811      1861
15  군도10호    북면 신촌리 402-13      1927      1690      2068      1722
16   군도1호    내서읍 평성리 661-4     10833      8727      9835      9480
17   군도3호        구산면 신촌삼거리       314       268       451       444
18   군도4호     구산면 유산리 92-5        32        28        49        36
19   군도5호    구산면 수정리 359-6      1250      1181       492       533
20   군도9호      내서읍 감천리 878      1408      1728      1267      1855
21  군도10호  진북면 신촌리 신촌마을길 2       661       647       804       784
22  군도11호   진북면 예곡리 의림로 99       705       696       840       812
23  군도12호   진동면 미더덕로 487-1      1175      1021      1234      1220
24  군도16호    진전면 고사리 753-8       581       549       691       721
25  군도17호    진전면 동산리 340-1      1225      1274      1234      1254

In [93]:
# 3. 데이터 요약 : describe()
# 데이터에 대한 요약을 제공합니다.

교통량.describe()

       2020년 상행  2020년 하행  2021년 상행  2021년 하행
count     25.00     25.00     25.00     25.00
mean    4546.24   4505.36   4444.36   4134.12
std     9322.65   9130.24   8680.81   7446.61
min       32.00     28.00     49.00     36.00
25%      802.00    783.00    840.00    812.00
50%     1408.00   1557.00   1267.00   1722.00
75%     3729.00   4020.00   3686.00   3927.00
max    46477.00  45154.00  42871.00  36557.00

In [94]:
# 4. 데이터 정렬
# 4.1. 특정 열 : sort_values(by=데이터)

교통량_정렬 = 교통량.sort_values(by="2021년 하행")
교통량_정렬

       구분             관측지점  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
18   군도4호     구산면 유산리 92-5        32        28        49        36
17   군도3호        구산면 신촌삼거리       314       268       451       444
19   군도5호    구산면 수정리 359-6      1250      1181       492       533
24  군도16호    진전면 고사리 753-8       581       549       691       721
7     지방도           진전면 시락       780       765       885       774
21  군도10호  진북면 신촌리 신촌마을길 2       661       647       804       784
22  군도11호   진북면 예곡리 의림로 99       705       696       840       812
11   군도2호        대산면 유등로 5       802       783       682       898
10    지방도           진전면 양촌       956       962      1041      1036
12   군도4호    대산면 봉강가술로 583      1180       877       908      1209
23  군도12호   진동면 미더덕로 487-1      1175      1021      1234      1220
25  군도17호    진전면 동산리 340-1      1225      1274      1234      1254
15  군도10호    북면 신촌리 402-13      1927      1690      2068      1722
9     지방도          진북면 지산리      1807      1557      2039      1765
20   군도9호      내서읍 감천리 878      1408      1728      1267      1855
14   군도8호     북면 감계리 189-2      1602      2168      1811      1861
6     지방도          진동면 요장리      3013      2792      1940      2474
13   군도6호     동읍 다호리 65-22      3042      3007      2817      2562
3     국지도       북면 내곡 탐앤탐스      3729      4463      3686      3927
5     국지도   북면 신촌리 북면운동장 앞      4733      4020      5492      5783
4     국지도   북면 신촌리 농기계센터 앞      5745      5672      6856      5785
2     국지도       의창구 동읍 신방리      6452      7346      7355      6987
16   군도1호    내서읍 평성리 661-4     10833      8727      9835      9480
1     국지도    내서읍 용담리 162-2     13227     15259     13761     12874
8     지방도         성산구 불모산동     46477     45154     42871     36557

In [95]:
# 4.2. 인덱스 기준 : sort_index()
교통량_정렬.sort_index()

       구분             관측지점  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
1     국지도    내서읍 용담리 162-2     13227     15259     13761     12874
2     국지도       의창구 동읍 신방리      6452      7346      7355      6987
3     국지도       북면 내곡 탐앤탐스      3729      4463      3686      3927
4     국지도   북면 신촌리 농기계센터 앞      5745      5672      6856      5785
5     국지도   북면 신촌리 북면운동장 앞      4733      4020      5492      5783
6     지방도          진동면 요장리      3013      2792      1940      2474
7     지방도           진전면 시락       780       765       885       774
8     지방도         성산구 불모산동     46477     45154     42871     36557
9     지방도          진북면 지산리      1807      1557      2039      1765
10    지방도           진전면 양촌       956       962      1041      1036
11   군도2호        대산면 유등로 5       802       783       682       898
12   군도4호    대산면 봉강가술로 583      1180       877       908      1209
13   군도6호     동읍 다호리 65-22      3042      3007      2817      2562
14   군도8호     북면 감계리 189-2      1602      2168      1811      1861
15  군도10호    북면 신촌리 402-13      1927      1690      2068      1722
16   군도1호    내서읍 평성리 661-4     10833      8727      9835      9480
17   군도3호        구산면 신촌삼거리       314       268       451       444
18   군도4호     구산면 유산리 92-5        32        28        49        36
19   군도5호    구산면 수정리 359-6      1250      1181       492       533
20   군도9호      내서읍 감천리 878      1408      1728      1267      1855
21  군도10호  진북면 신촌리 신촌마을길 2       661       647       804       784
22  군도11호   진북면 예곡리 의림로 99       705       696       840       812
23  군도12호   진동면 미더덕로 487-1      1175      1021      1234      1220
24  군도16호    진전면 고사리 753-8       581       549       691       721
25  군도17호    진전면 동산리 340-1      1225      1274      1234      1254

In [96]:
# 5. 열 이름 바꾸기 rename(columns={"기존이름":"바꿀이름"})

교통량 = 교통량.rename(columns={"관측지점":"장소"})
교통량

       구분               장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
1     국지도    내서읍 용담리 162-2     13227     15259     13761     12874
2     국지도       의창구 동읍 신방리      6452      7346      7355      6987
3     국지도       북면 내곡 탐앤탐스      3729      4463      3686      3927
4     국지도   북면 신촌리 농기계센터 앞      5745      5672      6856      5785
5     국지도   북면 신촌리 북면운동장 앞      4733      4020      5492      5783
6     지방도          진동면 요장리      3013      2792      1940      2474
7     지방도           진전면 시락       780       765       885       774
8     지방도         성산구 불모산동     46477     45154     42871     36557
9     지방도          진북면 지산리      1807      1557      2039      1765
10    지방도           진전면 양촌       956       962      1041      1036
11   군도2호        대산면 유등로 5       802       783       682       898
12   군도4호    대산면 봉강가술로 583      1180       877       908      1209
13   군도6호     동읍 다호리 65-22      3042      3007      2817      2562
14   군도8호     북면 감계리 189-2      1602      2168      1811      1861
15  군도10호    북면 신촌리 402-13      1927      1690      2068      1722
16   군도1호    내서읍 평성리 661-4     10833      8727      9835      9480
17   군도3호        구산면 신촌삼거리       314       268       451       444
18   군도4호     구산면 유산리 92-5        32        28        49        36
19   군도5호    구산면 수정리 359-6      1250      1181       492       533
20   군도9호      내서읍 감천리 878      1408      1728      1267      1855
21  군도10호  진북면 신촌리 신촌마을길 2       661       647       804       784
22  군도11호   진북면 예곡리 의림로 99       705       696       840       812
23  군도12호   진동면 미더덕로 487-1      1175      1021      1234      1220
24  군도16호    진전면 고사리 753-8       581       549       691       721
25  군도17호    진전면 동산리 340-1      1225      1274      1234      1254

In [97]:
# 6. 조건 인덱싱
# 6.1. 숫자 범위로 인덱싱 : 교통량[교통량["2021년 상행"] > 2000]

교통량[교통량["2021년 상행"] > 2000]

       구분              장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
1     국지도   내서읍 용담리 162-2     13227     15259     13761     12874
2     국지도      의창구 동읍 신방리      6452      7346      7355      6987
3     국지도      북면 내곡 탐앤탐스      3729      4463      3686      3927
4     국지도  북면 신촌리 농기계센터 앞      5745      5672      6856      5785
5     국지도  북면 신촌리 북면운동장 앞      4733      4020      5492      5783
8     지방도        성산구 불모산동     46477     45154     42871     36557
9     지방도         진북면 지산리      1807      1557      2039      1765
13   군도6호    동읍 다호리 65-22      3042      3007      2817      2562
15  군도10호   북면 신촌리 402-13      1927      1690      2068      1722
16   군도1호   내서읍 평성리 661-4     10833      8727      9835      9480

In [98]:
# 6.2. 문자로 인덱싱 : str.contains("찾으려는 문자")
교통량[교통량["장소"].str.contains("북면")]

       구분               장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
3     국지도       북면 내곡 탐앤탐스      3729      4463      3686      3927
4     국지도   북면 신촌리 농기계센터 앞      5745      5672      6856      5785
5     국지도   북면 신촌리 북면운동장 앞      4733      4020      5492      5783
9     지방도          진북면 지산리      1807      1557      2039      1765
14   군도8호     북면 감계리 189-2      1602      2168      1811      1861
15  군도10호    북면 신촌리 402-13      1927      1690      2068      1722
21  군도10호  진북면 신촌리 신촌마을길 2       661       647       804       784
22  군도11호   진북면 예곡리 의림로 99       705       696       840       812

In [99]:
# 7. 행, 열 인덱싱 나아가기 : 교통량.loc[1:3, ["A", "B"]]

교통량.loc[1, "장소"] # "장소"에 대괄호 포함하지 않음!

'내서읍 용담리 162-2'

In [100]:
교통량.loc[1]

구분                    국지도
장소          내서읍 용담리 162-2
2020년 상행            13227
2020년 하행            15259
2021년 상행            13761
2021년 하행            12874
Name: 1, dtype: object

In [101]:
교통량.loc[1:2]

     구분             장소  2020년 상행  2020년 하행  2021년 상행  2021년 하행
번호
1   국지도  내서읍 용담리 162-2     13227     15259     13761     12874
2   국지도     의창구 동읍 신방리      6452      7346      7355      6987

In [102]:
교통량.loc[1:2, ["장소"]]

               장소
번호
1   내서읍 용담리 162-2
2      의창구 동읍 신방리

In [103]:
교통량.loc[1:2, ["장소", "2020년 상행"]]

               장소  2020년 상행
번호
1   내서읍 용담리 162-2     13227
2      의창구 동읍 신방리      6452