# 1. 함수 - 반환 값 없음

1. 수를 입력받아, 홀수인지 짝수인지 알아내는 프로그램을 작성해보세요.
2. 홀수인 경우 '홀수입니다.'를 출력하고, 짝수인 경우 '짝수입니다.'를 출력하면 됩니다.
2. return을 쓰지 말고 함수 내에서 바로 결과를 출력해보세요.

```
# 입력
1
2
3
4

# 출력  
홀수입니다.
짝수입니다.
홀수입니다.
짝수입니다.
```

In [ ]:
### 이 사이에 코드 입력


def is_odd_number(number):
    # 여기에 코드 작성

###

is_odd_number(1)
is_odd_number(2)
is_odd_number(3)
is_odd_number(4)

홀수입니다.
짝수입니다.
홀수입니다.
짝수입니다.

# 2. 함수 - 반환 값 있음

1. 수를 입력받아, 홀수인지 짝수인지 알아내는 프로그램을 작성해보세요.
2. 홀수인 경우 True를 반환하고, 짝수인 경우 False를 반환하면 됩니다.
3. return을 사용해보세요!

```
# 입력
1
2
3
4

# 출력  
True
False
True
False
```

In [ ]:
### 이 사이에 코드 입력

def is_odd_number(number):
    # 여기에 코드 작성

###

result = is_odd_number(1)
print(result)
result = is_odd_number(2)
print(result)
result = is_odd_number(3)
print(result)
result = is_odd_number(4)
print(result)

True
False
True
False

# 3. 함수

1. 중복된 숫자가 들어있는 리스트가 입력됩니다.
2. 중복을 뺀 리스트를 반환하는 함수를 만들어보세요.
3. 힌트 : 빈 리스트에 값을 추가append해가면서, 이미 리스트에 있는 숫자는 continue하면 됩니다.

```
# 입력
[1, 2, 3, 3, 4, 5] # 3이 중복
[5, 6, 7, 5, 8, 9] # 5가 중복

# 출력  
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
```

In [ ]:
### 이 사이에 코드 입력

def no_duplication(리스트):
    # 여기에 코드 작성

###

result = no_duplication([1, 2, 3, 3, 4, 5])
print(result)
result = no_duplication([5, 6, 7, 5, 8, 9])
print(result)

[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]

# 4. 클래스

1. 계산기 클래스가 제공됩니다.
2. 곱하기, 나누기 함수를 추가해보세요.
3. 나누기 함수에서, 0으로 나누려고 하는 경우 "0으로 나눌 수 없습니다."라는 문자열을 반환하도록 작성해보세요.

```
# 입력
곱하기(5, 2)
나누기(5, 2)
나누기(2, 0)

# 출력  
10
2.5
0으로 나눌 수 없습니다.
```

In [ ]:
### 이 사이에 코드 입력

class 계산기():
    def 더하기(self, a, b):
        return a+b

    def 빼기(self, a, b):
        return a-b

    # 이 아래에 곱하기, 더하기 함수 작성

###

테스트용_계산기 = 계산기()
result = 테스트용_계산기.곱하기(5, 2)
print(result)
result = 테스트용_계산기.나누기(5, 2)
print(result)
result = 테스트용_계산기.나누기(2, 0)
print(result)

10
2.5
0으로 나눌 수 없습니다.

# 5. 파일 읽고 쓰기

1. 학생정보.txt 파일이 제공됩니다.
2. 해당 파일은 학생의 이름과 학생이 좋아하는 숫자로 구성되어 있습니다.  
예)  
홍길동  
7  
3. 파일을 읽은 다음, 학생의 이름과 좋아하는 숫자가 홀수인지 짝수인지를 출력해보세요.
4. 참고 : 텍스트 파일에서 읽어 온 숫자는 문자이기 때문에, int() 함수를 활용해서 숫자로 바꿔주어야 합니다.

```
# 입력
홍길동
7

# 출력  
홍길동
홀수
```

In [ ]:
내용 = """홍길동
7"""

with open("학생정보.txt", "w") as f:
    f.write(내용)

### 이 사이에 코드 입력



###

홍길동
홀수